<header class="header">
  <div class="logo-container">
    <a href="https://adalab.es/" title="Adalab Home" target="_blank"
      ><img
        class="logo"
        src="./assets/images/adalab-logo-155x61.png"
        alt="logo-de-adalab"
        title="Adalab Home"
    /></a>
  </div>
  <nav class="menu">
    <ul class="menu-container">
      <li>
        <a href="https://medium.com/adalab" title="Adalab Blog" target="_blank"
          >Blog</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/contacto/"
          title="Adalab Contacto"
          target="_blank"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
