.main {
  background-color: $color-background;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $color-maintext;
    font-size: $font-size;
    text-transform: capitalize;
    display: block;
    text-align: center;
    font-weight: bold;
    @media all and (min-width: 768px) {
      font-size: $font-size-tablet;
    }
  }
}
