.main {
  background-color: $background-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $maintext-color;
    font-size: 30px;
    text-transform: capitalize;
    display: block;
    text-align: center;
    font-weight: bold;
    @media all and (min-width: 768px) {
      font-size: 40px;
    }
  }
}
